@font-face {
	font-family: "Flaticon";
	src: url("../fonts/flaticon.eot");
	src: url("../fonts/flaticon.eot#iefix") format("embedded-opentype"),
	url("../fonts/flaticon.woff") format("woff"),
	url("../fonts/flaticon.ttf") format("truetype"),
	url("../fonts/flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
        font-size: 25px;
font-style: normal;
color:$cinza;

}.flaticon-facebook44:before {
	content: "\e000";
}
.flaticon-linkedin1:before {
	content: "\e001";
}
.flaticon-paper-plane:before {
	content: "\e002";
}
.flaticon-youtube36:before {
	content: "\e003";
}
